<!DOCTYPE html>
<html>
<head>
    <title> user</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}
        body{
            background-color: rgb(182, 223, 127);
        }
      
        h1{
        text-align: center;
       }
 
    </style>
    
</head>
<body>
    <h1> User</h1>
     <form method="POST">
        <label>Name</label><br>
        <input name="name" class="field"/><br><br>
         <label>Surname</label><br>
        <input name="surname" class="field"/><br><br>
        <label>Age</label><br>
        <input name="age" type="number" class="field" min="1" max="110" /><br><br>
        <input type="submit" value="Enter" /><br><br>
                         </form>
             
    <a href="/index">Back to task 2</a>

</body>
<html>
    